
body{	
	margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll
}

.banner{
    position: fixed;
    background: #252424;
    background-size: cover;
    width: 45%;
    height: 100%;
    float: left
}
.banner .nightynight {
	height: 75%;
}

.banner .nightynight .boi {
    position: absolute;
    width: 40%;
	image-rendering: pixelated;
	left: 30%;
    bottom: 25%;
	z-index: 1;
}
.banner .nightynight .moon {
	position: absolute;
	image-rendering: pixelated;
	width: 10%;
	top: calc(5% +  (var(--mouseY) + var(--ticksY) * 0.2 ) * 70px);
	left:calc(75% + (var(--mouseX) + var(--ticksX) * 0.2 ) * 70px);
	transform: rotate( calc(30deg + var(--ticksX) * 5deg ) );
}

.banner .nightynight .shimmer1 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(50% + (var(--mouseY) + var(--ticksY) * 0.2 ) * 800px);
	left:calc(55% + (var(--mouseX) + var(--ticksX) * 0.2 ) * 800px);
}
.banner .nightynight .shimmer2 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(10% + (var(--mouseY) + var(--ticksY) * 0.2 ) * 1200px);
	left:calc(15% + (var(--mouseX) + var(--ticksX) * 0.2 ) * -600px);
}
.banner .nightynight .shimmer3 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(20% + (var(--mouseY) + var(--ticksY) * 0.2 ) * 1200px);
	left:calc(55% + (var(--mouseX) + var(--ticksX) * 0.2 ) * -400px);
}
.banner .nightynight .shimmer4 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(-10% + (var(--mouseY) + var(--ticksY) * 0.2 ) * 2000px);
	left:calc(5% + (var(--mouseX) + var(--ticksX) * 0.2 ) * -200px);
}
.banner .nightynight .shimmer5 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(70% + (var(--mouseY) + var(--ticksY) * 0.2 ) * -800px);
	left:calc(75% + (var(--mouseX) + var(--ticksX) * 0.2 ) * -800px);
}
.banner .nightynight .shimmer6 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(50% + (var(--mouseY) + var(--ticksY) * 0.2 ) * 400px);
	left:calc(-55% + (var(--mouseX) + var(--ticksX) * 0.2 ) * 1200px);
}
.banner .nightynight .shimmer7 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(-50% + (var(--mouseY) + var(--ticksY) * 0.2 ) * -1600px);
	left:calc(55% + (var(--mouseX) + var(--ticksX) * 0.2 ) * 300px);
}
.banner .nightynight .shimmer8 {
	position: absolute;
	image-rendering: pixelated;
	width: 5%;
	top: calc(80% + (var(--mouseY) + var(--ticksY) * 0.2 ) * 100px);
	left:calc(85% + (var(--mouseX) + var(--ticksX) * 0.2 ) * -100px);
}

.banner .bio {
	position: relative;
	background: #252424ab;
	background-size: cover;
	height: 25%;
	z-index: 1;
	left: 64px;
	width: calc(100% - 64px);
	bottom: -64px;
	display: block;
}
.banner .bio h1{
	color: #fff1dd;
}
.banner .bio p{
	width: calc(100% - 128px);
	color: #fff1dd;
	font-weight: 500;
    font-size: 1.1em;
}

.scrollable {
    position: relative;
	background: #fff1dd;
	background-size: cover;
    width: 55%;
    float: right;
    overflow: visible;
	z-index: 1;
}
.scrollable .listing{
	position: relative;
	width: calc(55% - 64px);
	left: 64px;
}
.scrollable .listing h1{
	color: #252424;
	font-size: 3em;
}
.scrollable .listing .list .list_item{
	position: relative;
	width: 180%;
    height: 320px;
    margin: 0 5% 5% 0;
    float: left;
    overflow: hidden;
	cursor: pointer;
}
.scrollable .listing .list .list_item .bg{
	width: 100%;
	height: 100%;
}
.scrollable .listing .list .list_item .fg{
	position: absolute;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-size: cover;
    background-position: 50% 50%;
	transition: transform .8s;
}
.scrollable .listing .list .list_item .text{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #252424c0;
	transition: opacity .8s;
	opacity: 0;
}
.scrollable .listing .list .list_item .text h4{
	position: relative;
	top: 30%;
	padding-left: 16px;
	color: #fff1dd;
	font-weight: 500;
    font-size: 2em;
}
.scrollable .listing .list .list_item .text small{
	position: relative;
	bottom: -160;
	padding-right: 16px;
	color: #fff1dd;
	font-weight: 100;
	font-size: 1.2em;
	float: right;
}

.scrollable .listing .list .list_item:hover .fg{
  transform: scale(1.1);
}
.scrollable .listing .list .list_item:hover .text{
  opacity: 1;
}
//looks literally nice - #mugur2020


@media(max-width: 1000px) {
    .banner,.scrollable {
        position:relative;
        width: 100%
    }

    .banner {
        height: 800px
    }
}

//Scripts
:root {
  --mouseX: 0.5;
  --mouseY: 0.5;
  --ticksX: 0;
  --ticksY: 0;
  --scroll: 0;
}